<h1>Sign In</h1>
<form action='<%= session_url %>' method='post'>
  <%= auth_token %>
  <label for='username'>Username</label>
  <input type="text" id='username' name="user[username]">
  <label for='password'>Password</label>
  <input type="text" id='password' name="user[password]">
  <input type="submit" value="Log In">
</form>
